In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_table('datasetfinal.txt', sep='\t')
df

      Score  Time Result
0        50    60     D-
1        51    60     D-
2        52    60     D-
3        53    60     D-
4        54    60     D-
...     ...   ...    ...
1882     96    24     A+
1883     97    24     A+
1884     98    24     A+
1885     99    24     A+
1886    100    24     A+

[1887 rows x 3 columns]

In [3]:
from sklearn import tree
from sklearn.model_selection import train_test_split

In [4]:
model = tree.DecisionTreeClassifier()

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df[['Score','Time']],df['Result'],train_size=0.8)

In [6]:
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [7]:
model.score(X_train, y_train)

1.0

In [8]:
data=model.predict(X_test)

In [11]:
X_test

      Score  Time
1636     54    28
294      89    55
413      55    52
978      59    41
1426     99    33
...     ...   ...
1088     67    39
634      72    48
792      77    45
1189     66    37
494      85    51

[378 rows x 2 columns]

In [12]:
model.score(X_test, y_test)

1.0

In [13]:
data

array(['C-', 'B', 'D', 'D+', 'A+', 'B-', 'B', 'B', 'A+', 'A-', 'D+', 'B',
       'B', 'D', 'B+', 'A-', 'B-', 'A-', 'A', 'B', 'D+', 'D', 'A+', 'A',
       'C+', 'D', 'A', 'B+', 'B+', 'B+', 'D', 'A-', 'B', 'C+', 'B', 'A',
       'B+', 'B-', 'B-', 'D+', 'B', 'B', 'A', 'C+', 'A', 'C', 'B', 'D+',
       'D+', 'C', 'C-', 'B+', 'B', 'B', 'C', 'C-', 'B-', 'A+', 'C', 'B+',
       'D', 'D-', 'B', 'B', 'B-', 'B', 'D+', 'B+', 'D-', 'B-', 'B', 'A',
       'B', 'D', 'B-', 'A+', 'B+', 'B', 'D-', 'B-', 'C+', 'B-', 'B+',
       'A-', 'C+', 'D+', 'D', 'B', 'B-', 'B', 'C+', 'C', 'C+', 'A', 'C',
       'B-', 'A+', 'D', 'D+', 'B', 'B+', 'A', 'B', 'B', 'D', 'B', 'B+',
       'D', 'C-', 'D-', 'C', 'A+', 'C+', 'B+', 'D+', 'C', 'C', 'C', 'A+',
       'C-', 'A-', 'D', 'B+', 'C+', 'B', 'B-', 'B', 'B+', 'B-', 'B', 'B+',
       'C', 'C-', 'D+', 'C', 'B-', 'C+', 'A-', 'C', 'A', 'B-', 'D', 'A',
       'D-', 'D', 'D-', 'D-', 'B', 'A+', 'A-', 'B-', 'C+', 'B-', 'B+',
       'B-', 'C-', 'A-', 'B', 'A', 'A-', 'C', 'C+', 'A', 'B+', 'B', 'A-',
       'D+', 'A', 'A+', 'C+', 'C', 'A', 'D', 'C', 'D+', 'A-', 'D', 'C-',
       'A', 'A+', 'D+', 'B+', 'C-', 'C+', 'C+', 'A', 'B', 'B+', 'C-',
       'C-', 'C', 'D+', 'A-', 'B', 'B', 'B', 'B-', 'C-', 'B', 'A+', 'D+',
       'A-', 'A-', 'B', 'B', 'B+', 'C-', 'A', 'A+', 'D', 'B', 'B', 'A-',
       'B', 'B-', 'C+', 'A-', 'B+', 'D', 'A', 'C+', 'C', 'B+', 'A-', 'C-',
       'B-', 'B+', 'B', 'C-', 'C', 'B', 'D+', 'A', 'B+', 'A-', 'B', 'C',
       'A-', 'D', 'C+', 'A+', 'B+', 'B+', 'B-', 'A+', 'A', 'A', 'B+',
       'A-', 'C', 'A+', 'B', 'C-', 'C', 'B+', 'C', 'B', 'C', 'B', 'C',
       'C', 'C', 'A-', 'B-', 'B', 'B+', 'C+', 'B+', 'B', 'C-', 'B+', 'B-',
       'A+', 'D+', 'B+', 'B+', 'C', 'C+', 'C', 'D-', 'D', 'A-', 'C+', 'B',
       'B-', 'B', 'B', 'A-', 'C+', 'B', 'D-', 'C', 'A', 'B+', 'C-', 'D+',
       'C+', 'A-', 'A+', 'C-', 'C-', 'D', 'B+', 'D+', 'A', 'B+', 'C',
       'C+', 'C-', 'D+', 'A+', 'B+', 'D', 'D+', 'C+', 'C', 'B', 'C-',
       'C-', 'B-', 'D+', 'C+', 'A-', 'A-', 'D', 'C', 'B', 'A', 'A-', 'D-',
       'D+', 'A+', 'C', 'D', 'D+', 'C-', 'B+', 'A+', 'C-', 'C+', 'B-',
       'B', 'A', 'B-', 'C-', 'B-', 'C-', 'B-', 'B+', 'B+', 'C+', 'B-',
       'B+', 'B', 'B-', 'B+', 'D+', 'D+', 'D+', 'B-', 'C+', 'B+', 'B-',
       'D-', 'D+', 'C+', 'A-', 'A', 'D-', 'A-', 'C', 'B', 'C-', 'C+', 'C',
       'B-', 'C+', 'B'], dtype=object)

In [36]:
a={
    1:'f',
    2:'g',
    3:'vg',
    4:'e',
    5:'a'
}
e={}

In [61]:
names = np.array(['zero','good', 'ex', 'fear','amazing','fabulas'])

In [68]:
obj=pd.Series(data)

In [74]:
obj2=pd.Series(names)
obj3=pd.Series(a)

In [72]:
obj2.index

RangeIndex(start=0, stop=6, step=1)

In [75]:
obj3.index

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [82]:
obj3.index is obj

False

In [85]:
obj[obj==obj3.index]

ValueError: Lengths must match to compare

In [21]:
data

array([0, 0, 3, 3, 0, 0, 0, 0, 0, 5, 0, 0, 5, 4, 0, 4, 3, 0, 3],
      dtype=int64)